<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        

      </ul>
      <ng-container *ngIf="auth.currentUser | async as user;else login">
        <div class="d-flex" style="text-align: center;margin-right: 10px;">
          <i class="fa fa-user" aria-hidden="true" >   {{ user.displayName }} </i>
        </div>
        <button (click)="logout(user.displayName)" class="btn btn-danger " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i  aria-hidden="true" > Logout</i>
        </button>
        <div  class="dropdown">
          
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li (click)="logout()"><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
        </div>
        <!-- <button type="button" (click)="logout()" class="btn btn-light"><i class="fa fa-user" aria-hidden="true">   {{ user.displayName }}</i></button> -->
      </ng-container>
      <ng-template #login>
        <button type="button" routerLink="/login" class="btn btn-light"><i class="fa fa-sign-in"
            aria-hidden="true">Login</i></button>
      </ng-template>
    </div>
  </div>
</nav>
<div class="container-fluid router">
  <div class="row">
    <div class="col-sm-8 mx-auto" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 20px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
